<h1>WELCOME TO MY LITTLE LIBRARY</h1>
<%= link_to "My Books", controller: "books" %>
<%= link_to "My Authors", controller: "authors" %>
<h5>If u wanna find something else, try this</h5>
<%= link_to "YANDEX", 'http://yandex.ru', data: { confirm: "Are you sure?"}%>